/*Обнулення*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
button{cursor: pointer;}
input::-ms-clear{display: none;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
body{
    padding: 30px;
}
.button {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 60px;
    padding: 0px 30px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 30px;
    position: relative;
    top: 0;
}
.button_1{
    color: #fff;
    background-color: #15680d;
    box-shadow: 3px 3px rgb(0, 0, 0);
    transition: all 0.5s cubic-bezier(0.75, -1, 0.21, -1) 0s;

}
.button_1:hover{
    padding: 0px 50px;
    background-color: #11c90e;
    transition: all 0.5s cubic-bezier(0.75, -1, 0.21, -1) 0s;
}